
<div class="hidden md:block mt-4 mb-4 card flex justify-content-center">
  <form [formGroup]="formGroup">
      <p-selectButton [options]="filterOptions" formControlName="value" optionLabel="label" optionValue="value"></p-selectButton>
  </form>
</div>

<p-table *ngIf="!isMobile" [value]="tasks" class="mt-4 hidden md:block">
  <ng-template pTemplate="header">
    <tr>
      <th>Titulo</th>
      <th>Fecha limite</th>
      <th>Personas asociadas</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-person>
    <tr>
      <td>{{ person.title }}</td>
      <td>{{ person.fechaLimite }}</td>
      <td>
        <p *ngFor="let i of person.personaAsignada">
          {{ i.nombre }}
        </p>
      </td>
      <td>
        <span [ngClass]="{
          'bg-[#22c45f]': person.completada,
          'bg-[#f49f0b]': !person.completada,
          'text-white font-semibold p-1 rounded-md': true
        }">
        {{ person.completada ? 'Completada' : 'Pendiente' }}</span>
      </td>
      <td class="flex gap-2">
        <button class="bg-[red] rounded-md text-white p-1 font-semibold" (click)="eliminarTarea(person.id)">Eliminar</button>

        <button class="bg-[#017301] rounded-md text-white p-1 font-semibold" (click)="completarTarea(person.id)">Completar</button>
      </td>
    </tr>
  </ng-template>
</p-table>


<div *ngIf="isMobile" class="md:hidden">

  <div class="card flex justify-content-center">
    <form [formGroup]="formGroup">
        <p-selectButton [options]="filterOptions" formControlName="value" optionLabel="label" optionValue="value"></p-selectButton>
    </form>
  </div>

  <p-accordion class="w-full">
    <p-accordionTab *ngFor="let task of tasks">
      <ng-template pTemplate="header">
        <div class="w-full flex items-center justify-between">
          <span>
            {{ task.title }}
          </span>
          <span [ngClass]="{
            'bg-[#22c45f]': task.completada,
            'bg-[#f49f0b]': !task.completada,
            'text-white font-semibold p-1 rounded-md': true
          }">
            {{ task.completada ? 'Completada' : 'Pendiente' }}
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <span
          class="flex items-center justify-between"
        >
          Fecha limite: <b>{{ task.fechaLimite }}</b>
        </span>
        <p class="mt-4">
          <b>Personas asignadas</b>
        </p>
        <hr>

        <div *ngFor="let person of task.personaAsignada">
          <p class="mt-2 flex justify-between">Nombre: <b>{{ person.nombre }}</b></p>

          <p class="flex justify-between">Edad: <b>{{ person.edad }}</b></p>


          <p class="mt-4 mb-1"><b>Habilidades</b></p>
          <div
            class="flex gap-1 flex-wrap mb-1"
          >
            <span
              *ngFor="let sk of person.skill"
              class="bg-[#3a82f7] text-white font-semibold p-1 rounded-md">
              {{ sk.descripcion }}
            </span>
          </div>

          <hr>
        </div>

        <div class="mt-2 flex items-center justify-between">
          <button class="bg-[red] rounded-md text-white p-1 font-semibold" (click)="eliminarTarea(task.id)">Eliminar</button>

          <button class="bg-[#017301] rounded-md text-white p-1 font-semibold" (click)="completarTarea(task.id)">Completar</button>
        </div>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</div>