<div class="flex justify-between p-2 items-center">
  <div class="flex items-center md:hidden">
    <img
      class="w-[50px]"
      src="https://www.trustradius.com/_next/image?url=https%3A%2F%2Fmedia.trustradius.com%2Fproduct-logos%2FOA%2Fvu%2FIMIEHDQSOI45-180x180.PNG&w=256&q=75"
      alt="Logo"
    >
    <span class="text-xl">Task Management</span>
  </div>
  <div>
    <button
      class="flex items-center gap-2 mr-2 p-2 bg-[#3a82f7] rounded-md text-white active:none"
    >
      <i class="pi pi-plus"></i>
      <span class="text-[18px] font-semibold">New</span>
    </button>
  </div>
</div>
