<!-- <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="block">
  <input formControlName="title" placeholder="Task title">
  <button type="submit">Add Task</button>
</form>

<ul class="block">
  <li *ngFor="let task of tasks$ | async">
    {{ task.title }} - {{ task.completada ? 'Completed' : 'Pending' }}
    <button (click)="completarTarea(task.id)">Complete</button>
  </li>
</ul> -->

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa tempore obcaecati maiores consectetur explicabo voluptate rem ab similique alias architecto, possimus accusantium labore est nostrum laboriosam, quisquam mollitia? Quas!sdsd</p>